<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To DO List</title>
</head>

<body>
    <h2 style="text-align: center;">Lista</h2>
    <hr>
    <ol>
        {% for item in list%}
        <li>{{item}}</li>
        {% endfor %}
        <form action="{{url_for('principal')}}" method="POST">
            <label>Item</label>
            <input type="text" name="item">
            <button>Adicionar</button>
        </form>
    </ol>
</body>

</html>